@media (max-width: 812px) {
    .header__navigation-block {
        width: 60%;
    }
    
    .header__link::after {
        margin: 0 1em;
    }   

    .map__form {
        padding: 20% 0;
    }
}

@media (max-width: 768px) {
    .header__navigation-block {
        display: none;
    }
    
    .header__burger {
        display: block;
    }

    .home__scroll-list--item {
        width: 1vw;
        height: 1vw;
    }

    .home__scroll-list {
        width: 14%;
    }

    .exploring__icons-block {
        padding-bottom: 3em;
    }

    .exploring__item {
        width: 6.5vw;
        height: 6.5vw;
    }
}

@media (max-width: 320px) {
    .map__form {
        padding: 30% 0;
    }
}
