* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper {
    display: flex;
    flex-direction: column;
    max-width: 1280px;
    margin: 0 auto;
}

.container {
    width: 75%;
    margin: 0 auto;
    font-size: 1em;
}

/* Блок header */

.header {
    position: sticky;
    top: 0;
    z-index: 5;

    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 0 auto;

    background: #55ADB7;
}

.header__title {
    display: block;
    width: 25%;
    padding: 1em 0;

    font-size: calc(10px + 1.8vw);
    font-weight: normal;
    font-family: 'Cherry Swash', cursive;
    color: #FFFFFF;
}

.header__title:hover {
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    transition: all .5s;
    cursor: pointer;
}

.header__navigation-container {
    position: absolute;
    top: calc(50% - 7px);
    display: flex;
    justify-content: flex-end;
    width: 75%;    
}

.header__navigation-block {
    display: flex;
    justify-content: space-between;
    width: 55%;
}

.header__link {
    position: relative;
    font-size: calc(10px + 0.5vw);
    font-weight: normal;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    text-transform: uppercase;
    color: #DCE3E4;  
}

.header__link:active {
    color: #4C505D;
}

.header__link::after {
    content: '';

    position: absolute;

    width: 0.085em;
    height: 1.125em;
    margin: 0 1.3em;

    transform: rotate(20deg);

    background: #DCE3E4;
}

.header__link--last {
    position: relative;
    font-size: calc(10px + 0.5vw);
    font-weight: normal;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    text-transform: uppercase;
    color: #DCE3E4;  
}

.header__link--last:active {
    color: #4C505D;
}

.header__burger {
    position: absolute;
    display: none;
    top: 38px;
    right: 38px;
    width: 2.1em;
    height: 0.2em;
    background: #DCE3E4;
}

.header__burger::before {
    content: '';
    position: absolute;
    top: -9px;
    width: 2.1em;
    height: 0.2em;
    background: #DCE3E4;
}

.header__burger::after {
    content: '';
    position: absolute;
    top: 9px;
    width: 2.1em;
    height: 0.2em;
    background: #DCE3E4;
}

.header__burger:hover {
    cursor: pointer;
}

/* Блок home */

.home {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    background: url(../img/sea_background.png) no-repeat;
}

.home__title {
    display: block;
    width: 51%;
    margin: 0 auto;
    padding: 4em 0 1.2em 0;

    text-align: center;
    text-transform: uppercase;
    font-size: calc(10px + 2vw);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #E4E4E4;
}

.home__btn {
    padding: 0.3em 1.5em;
    margin-bottom: 4.4em;

    font-size: calc(10px + 1.3vw);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    color: #E4E4E4; 

    border: solid #E4E4E4;
    border-radius: 0.5vh;
    background: none;
}

.home__btn:hover {
    box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.5);
    transition: all .7s;
    cursor: pointer;
}

.home__scroll-list {
    display: flex;
    justify-content: space-between;
    width: 9%;
    margin: 0 auto;
    padding-bottom: 1.8em;
}

.home__scroll-list--item {
    width: 0.6vw;
    height: 0.6vw;

    border: none;
    border-radius: 50%;
    list-style: none;
    background: #FFFFFF;
}

.home__scroll-list--item:hover {
    background: #69728c;
    box-shadow: 0 0 4px 4px rgba(255, 255, 255);
    transition: all .5s;
    cursor: pointer;
}

/* Блок exploring */

.exploring {
    margin: 0 auto;
    text-align: center;
    background: #FFFFFF;
}

.exploring__title {
    display: block;
    width: 65.8%;
    margin: 0 auto;
    padding: 2.9em 0 1.3em 0;

    text-align: center;
    font-size: calc(10px + 1.3vw);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    color: #4C505D;
}

.exploring__subtitle {
    display: block;
    width: 93.5%;
    margin: 0 auto;
    margin-bottom: 4.5em;

    text-align: center;
    font-size: calc(10px + 0.3vw);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    color: #4C505D;
}

.exploring__icons-block {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    width: 44%;
    margin: 0 auto;
    padding-bottom: 4.5em;

    list-style: none;
}

.exploring__item {
    width: 3.6vw;
    height: 3.6vw;
}

/* Блок dhavan */

.dhavan {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    background: #00D089;
}

.dhavan__info-block {
    display: flex;
    justify-content: space-between;

    width: 32%;
    margin-left: 43%;
    padding: 6.05em 0 3.9em 0;
}

.dhavan__avatar {
    width: 10vw;
    height: 10vw;

    border-radius: 50%;
    background: url(../img/dhavan_avatar_icon.png) no-repeat -5px 0;
}

.dhavan__avatar:hover {
    box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.5);
    transition: all .7s;
    cursor: pointer;
}

.dhavan__details-block {
    display: flex;
    flex-direction: column;
    width: 41.5%;
}

.dhavan__name {
    position: relative;

    font-size: calc(10px + 1vw);
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    text-align: left;
    color: #E4E4E4;
}

.dhavan__name::after {
    content: '“';

    position: absolute;
    top: -400%;
    left: -14.1%;

    display: block;
    
    font-size: calc(10px + 17.5vw);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #FFFFFF;

    transform: rotate(180deg);
    opacity: .2;
}

.dhavan__quote {
    display: block;
    width: 93%;
    margin: 0 auto;
    padding-bottom: 5.2em;

    font-size: calc(10px + 0.5vw);
    font-weight: lighter;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    color: #FFFFFF;
}

/* Блок map */

.map {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background: url(../img/map_background.png) no-repeat;
}

.map__circle {
    display: flex;
    justify-content: center; 
}

.map__form {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: calc(14em + 20vw);
    height: calc(14em + 20vw);
    padding: 9em 0;
    margin: 3em auto 2.1em auto;

    background: #FFFFFF;
    border: solid 0.2em #ecebe9;
    border-radius: 50%;
    opacity: .85;
}

.map__form--item {
    width: 70%;
    padding: 0.5em 0 0.5em 1.3em;
    margin-bottom: 3%;

    font-size: calc(10px + 0.3vw);
    font-weight: lighter;
    font-family: Arial, Helvetica, sans-serif;

    background: #FFFFFF;
    border: 0.15em solid #ecebe9;
}

.map__form--message {
    width: 70%;
    padding: 0.9em 0 5em 1.3em;
    margin-bottom: 5%;

    font-size: calc(10px + 0.3vw);
    font-weight: lighter;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;

    background: #FFFFFF;
    border: solid 0.14em #ecebe9;
}

.map__form--btn {
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;
    width: 16%;
    padding: 8%;

    border-radius: 50%;
    border: none;
    background: #00D089;
}

.map__form--btn::before {
    content: '';

    position: absolute;
    top: 45%;
    left: 29%;

    width: 15%;
    height: 35%;

    border-radius: 1.5em;
    background: #FFFFFF;

    transform: rotate(-45deg);
}

.map__form--btn::after {
    content: '';

    position: absolute;
    top: 28%;
    left: 51%;

    width: 15%;
    height: 55%;

    border-radius: 1.5em;
    background: #FFFFFF;

    transform: rotate(45deg);
}

.map__form--btn:hover {
    box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.5);
    transition: all .7s;
    cursor: pointer;
}

/* Блок footer */

.footer {
    width: 100%;
    margin: 0 auto;  
    text-align: center;
    background: #00D089;
}

.footer__copyright {
    padding: 1em 0;

    font-size: calc(10px + 0.3vw);
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    text-align: center;
    color: #FFFFFF;
}
